Sphinx>=1.3.3
requests>=2.20.0
websocket-client>=0.35.0
schedule>=0.5.0
six>=1.10.0
sphinxcontrib-devhelp
Jinja2>=2.3
snowballstemmer>=1.1
imagesize
sphinxcontrib-jsmath
setuptools
packaging
sphinxcontrib-htmlhelp
alabaster<0.8,>=0.7
babel>=1.3
docutils>=0.12
sphinxcontrib-qthelp
Pygments>=2.0
sphinxcontrib-applehelp
sphinxcontrib-serializinghtml
chardet<4,>=3.0.2
urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1
certifi>=2017.4.17
idna<3,>=2.5
pytz>=2015.7
configparser>=3.7.4
